// -LT - WHITE_THEME
// -DT - DARK_THEME

$white-color: #FFFFFF;
$black-color: #000000;

$primary-white-color: #FCFCFC;
$primary-black-color: #202025;
$secondary-white-color: #fcfcfccc; // це колір #FCFCFC з прозорістю 0.8 - Search your favorite cocktail by ABC

$primary-text-color-LT: #202025cc; // це колір #202025 з прозорістю 0.8
$primary-text-color-DT: #BDBDBD;
$secondary-text-color: #5F6775;

$search-input-color: #5f677566; // це колір #5f6775 з прозорістю 0.4 - textarea of search input

$accent-color: #FD5103;
$btn-accent-color: #FE7031;

$btn-white-bg-color: #F5F5F5;

$pagination-number-color: #1E1E1E;
$pagination-arrow-active: #202025;

$ingr-title-color: #000917;

$cubic: cubic-bezier(0.4, 0, 0.2, 1);
