<button class="menu-toggle js-open-menu" aria-expanded="false" aria-controls="mobile-menu">
  <svg class="mobile-menu__icon" width="30" height="16">
    <use href="./images/sprite.svg#icon-menu"></use>
  </svg>
</button>

<div class="menu-container js-menu-container" id="mobile-menu">
  <button class="menu-toggle js-close-menu">
    <svg class="mobile-menu__icon" width="18" height="18">
      <use href="./images/sprite.svg#icon-close"></use>
    </svg>
  </button>
  <div class="theme"></div>
  <div class="search"></div>
  <ul class="mobile-menu">
    <li class="mobile-menu__item"><a href="" class="link">Home</a></li>
    <li class="mobile-menu__item"><a href="" class="link">Favorite</a></li>
  </ul>
</div>
