<div class="modal-ingredients">
  <h2 class="modal-ingredients__title">Campari</h2>
  <h3 class="modal-ingredients__headline">Liqueur</h3>
  <span class="modal-ingredients__line"></span>
  <p class="modal-ingredients__text">
    <span class="modal-ingredients__accent">Campari</span> is an Italian alcoholic liqueur,
    considered an apéritif (20.5%, 21%, 24%, 25%, or 28.5% ABV, depending on the country in which it
    is sold), obtained from the infusion of herbs and fruit (including chinotto and cascarilla) in
    alcohol and water. It is a bitters, characterised by its dark red colour.
  </p>
  <ul class="modal-ingredients__list">
    <li class="modal-ingredients__item">Type: Bitters</li>
    <li class="modal-ingredients__item">Country of origin: Italy</li>
    <li class="modal-ingredients__item">Alcohol by volume: 20.5–28.5%</li>
    <li class="modal-ingredients__item">Flavour: Bitter, spicy and sweet</li>
  </ul>
  <button type="button" class="modal-ingredients__btn btn-favorite">Add to favorite</button>
</div>
