<div class="modal-mobile">
  <div class="modal-coctails">
    <h2 class="modal-coctails__title">Negroni</h2>
    <h3 class="modal-coctails__headline">Instractions:</h3>
    <p class="modal-coctails__text">
      Add the gin, Campari and sweet vermouth to a mixing glass filled with ice, and stir until
      well-chilled. Strain into a rocks glass filled with large ice cubes. Garnish with an orange
      peel.
    </p>
    <img
      class="modal-coctails__img"
      src="./image/plugs/acid.jpg"
      alt="ace"
      width="280"
      height="280"
      loading="lazy"
    />

    <h3 class="modal-coctails__subject">Ingredients</h3>
    <p class="modal-coctails__subtitle">Per cocktail</p>
    <ul class="modal-coctails__list">
      <li class="modal-coctails__item">
        Ice
      </li>
      <li class="modal-coctails__item">
        1 ounce gin
      </li>
      <li class="modal-coctails__item">
        1 ounce Campari
      </li>
      <li class="modal-coctails__item">
        1 ounce sweet vermouth
      </li>
      <li class="modal-coctails__item">
        Garnish: orange peel
      </li>
    </ul>

    <button class="modal-coctails__btn btn-favorite">Add to favorite</button>
  </div>
</div>
<!-------------------- tablet / desktop-------------------->
<div class="modal-tablet">
  <div class="modal-coctails">
    <div class="modal-coctails__cover">
      <img
        class="modal-coctails__img"
        src="./image/plugs/acid@1x.jpg"
        alt="ace"
        width="288"
        height="320"
        loading="lazy"
      />
      <div class="modal-coctails__wrap">
        <h2 class="modal-coctails__title">Negroni</h2>
        <h3 class="modal-coctails__subject">Ingredients</h3>
        <p class="modal-coctails__subtitle">Per cocktail</p>
        <ul class="modal-coctails__list">
          <li class="modal-coctails__item">
            Ice
          </li>
          <li class="modal-coctails__item">
            1 ounce gin
          </li>
          <li class="modal-coctails__item">
            1 ounce Campari
          </li>
          <li class="modal-coctails__item">
            1 ounce sweet vermouth
          </li>
          <li class="modal-coctails__item">
            Garnish: orange peel
          </li>
        </ul>
      </div>
    </div>
    <h3 class="modal-coctails__headline">Instractions:</h3>
    <p class="modal-coctails__text">
      Add the gin, Campari and sweet vermouth to a mixing glass filled with ice, and stir until
      well-chilled. Strain into a rocks glass filled with large ice cubes. Garnish with an orange
      peel.
    </p>
    <button class="modal-coctails__btn btn-favorite">Add to favorite</button>
  </div>
</div>
