<div class="c-backdrop c-backdrop--is-hidden" data-modalCocktails>
  <div class="modal-mobile">
    <div class="modal-cocktails">
      <button class="modal-cocktails__btn-close" type="button" data-modalCocktails-close>
        <svg class="modal-cocktails__icon" width="18" height="18">
          <use href="./images/sprite.svg#icon-close"></use>
        </svg>
      </button>

      <div class="modal-cocktails__wrapper-mobile">
        <!-- <h2 class="modal-cocktails__title">Negroni</h2>
        <h3 class="modal-cocktails__headline">Instractions:</h3>
        <p class="modal-cocktails__text">
          Add the gin, Campari and sweet vermouth to a mixing glass filled with ice, and stir until
          well-chilled. Strain into a rocks glass filled with large ice cubes. Garnish with an orange
          peel.
        </p>
        <img class="modal-cocktails__img" src="./images/plugs/acid.jpg" alt="ace" width="280" height="280" loading="lazy" />

        <h3 class="modal-cocktails__subject">Ingredients</h3>
        <p class="modal-cocktails__subtitle">Per cocktail</p>
        <ul class="modal-cocktails__list">
          <li class="modal-cocktails__item">
            <a class="modal-cocktails__link" href="#" data-modalIngredLinkM-open>Ice (--Click--)</a>
          </li>
          <li class="modal-cocktails__item">
            <a class="modal-cocktails__link" href="#">1 ounce gin</a>
          </li>
          <li class="modal-cocktails__item">
            <a class="modal-cocktails__link" href="#">1 ounce Campari</a>
          </li>
          <li class="modal-cocktails__item">
            <a class="modal-cocktails__link" href="#">1 ounce sweet vermouth</a>
          </li>
          <li class="modal-cocktails__item">
            <a class="modal-cocktails__link" href="#">Garnish: orange peel</a>
          </li>
        </ul>

        <button class="modal-cocktails__btn btn-favorite">Add to favorite</button> -->
      </div>
    </div>
  </div>

  <div class="modal-tablet">
    <div class="modal-cocktails">
      <button class="modal-cocktails__btn-close" type="button" data-modalCocktailsTablet-close>
        <svg class="modal-cocktails__icon" width="18" height="18">
          <use href="./images/sprite.svg#icon-close"></use>
        </svg>
      </button>

      <div class="modal-cocktails__wrapper">
        <!-- <div class="modal-cocktails__cover">
        <img
          class="modal-cocktails__img"
          src="./images/plugs/acid@1x.jpg"
          alt="ace"
          width="288"
          height="320"
          loading="lazy"
        />
        <div class="modal-cocktails__wrap">
          <h2 class="modal-cocktails__title">Negroni</h2>
          <h3 class="modal-cocktails__subject">Ingredients</h3>
          <p class="modal-cocktails__subtitle">Per cocktail</p>
          <ul class="modal-cocktails__list">
            <li class="modal-cocktails__item">
              <a class="modal-cocktails__link" href="#" data-modalIngred-open>Ice (--Click--)</a>
            </li>
            <li class="modal-cocktails__item">
              <a class="modal-cocktails__link" href="#" data-modalIngredLinkT-open>1 ounce gin (--Click--)</a>
            </li>
            <li class="modal-cocktails__item">
              <a class="modal-cocktails__link" href="#">1 ounce Campari</a>
            </li>
            <li class="modal-cocktails__item">
              <a class="modal-cocktails__link" href="#">1 ounce sweet vermouth</a>
            </li>
            <li class="modal-cocktails__item">
              <a class="modal-cocktails__link" href="#">Garnish: orange peel</a>
            </li>
          </ul>
        </div>
      </div>
      <h3 class="modal-cocktails__headline">Instractions:</h3>
      <p class="modal-cocktails__text">
        Add the gin, Campari and sweet vermouth to a mixing glass filled with ice, and stir until
        well-chilled. Strain into a rocks glass filled with large ice cubes. Garnish with an orange
        peel.
      </p>
      <button class="modal__btn btn-favorite">Add to favorite</button> -->
      </div>
    </div>
  </div>
</div>
