<section class="search-set">
  <div class="container">
    <h2 class="search-set__caption">Cocktails</h2>
    <div class="spinner spinner-bg spinner-alert"></div>
    <div class="search-set__box">
      <div class="add-box-cocktails is-hidden">
        <h2 class="title__noResults">Sorry, we didn't find any cocktail for you</h2>
        <svg class="icon-noResults" width="280" height="308">
          <use href="./images/sprite.svg#icon-noResults"></use>
        </svg>
      </div>
      <ul class="search-set__list"></ul>

      <ul class="paginarion__container" id="pagination"></ul>
    </div>
  </div>
</section>
