<section class="search-set">
  <div class="container">
    <h2 class="search-set__caption">Cocktails</h2>
    <div class="search-set__box">
      <ul class="search-set__list">
        <!-- Delete this li? it for exam[le] -->
        <!-- <li class="coctail__card">
          <img class="coctail__pic" src="./images/plugs/a1.jpg" alt="" />
          <p class="coctail__desc">Negroni</p>
          <div class="box__btn">
            <button class="btn-learn_more" type="button">Learn more</button>
            <button class="btn-add_and_remove" type="button">
              Add to
              <svg class="icon-heart__svg" width="22" height="19">
                <use href="./images/sprite.svg#icon-heart"></use>
              </svg>
            </button>
          </div>
        </li>

        <li class="coctail__card">
          <img class="coctail__pic" src="./images/plugs/ace.jpg" alt="" />
          <p class="coctail__desc">Negroni</p>
          <div class="box__btn">
            <button class="btn-learn_more" type="button">Learn more</button>
            <button class="btn-add_and_remove" type="button">
              Add to
              <svg class="icon-heart__svg" width="22" height="19">
                <use href="./images/sprite.svg#icon-heart"></use>
              </svg>
            </button>
          </div>
        </li>
        <li class="coctail__card">
          <img class="coctail__pic" src="./images/plugs/abc.jpg" alt="" />
          <p class="coctail__desc">Negroni</p>
          <div class="box__btn">
            <button class="btn-learn_more" type="button">Learn more</button>
            <button class="btn-add_and_remove" type="button">
              Add to
              <svg class="icon-heart__svg" width="22" height="19">
                <use href="./images/sprite.svg#icon-heart"></use>
              </svg>
            </button>
          </div>
        </li>
        <li class="coctail__card">
          <img class="coctail__pic" src="./images/plugs/acid.jpg" alt="" />
          <p class="coctail__desc">Negroni</p>
          <div class="box__btn">
            <button class="btn-learn_more" type="button">Learn more</button>
            <button class="btn-add_and_remove" type="button">
              Add to
              <svg class="icon-heart__svg" width="22" height="19">
                <use href="./images/sprite.svg#icon-heart"></use>
              </svg>
            </button>
          </div>
        </li>
        <li class="coctail__card">
          <img class="coctail__pic" src="./images/plugs/apello.jpg" alt="" />
          <p class="coctail__desc">Negroni</p>
          <div class="box__btn">
            <button class="btn-learn_more" type="button">Learn more</button>
            <button class="btn-add_and_remove" type="button">
              Add to
              <svg class="icon-heart__svg" width="22" height="19">
                <use href="./images/sprite.svg#icon-heart"></use>
              </svg>
            </button>
          </div>
        </li>
        <li class="coctail__card">
          <img class="coctail__pic" src="./images/plugs/avalon.jpg" alt="" />
          <p class="coctail__desc">Negroni</p>
          <div class="box__btn">
            <button class="btn-learn_more" type="button">Learn more</button>
            <button class="btn-add_and_remove" type="button">
              Add to
              <svg class="icon-heart__svg" width="22" height="19">
                <use href="./images/sprite.svg#icon-heart"></use>
              </svg>
            </button>
          </div>
        </li> -->
        <!-- --------------------------------------------- -->
      </ul>
    </div>
  </div>
</section>
