.hero__section{
    @extend %section;


    @media screen and (max-width: 767px) {
            padding-bottom: 40px;
        }
 @media screen and (max-width: 1280px) {
     padding-bottom: 60px;
 }

}
.hero__container{
position: relative;
}
.hero__box{

    @media screen and (min-width: 768px) {
            width:336px;
}
   @media screen and (min-width: 1280px) {
       width: 688px;
   }
}
.hero__caption{
    @extend %section-title;
    color:$accent-color;
    @media screen and (min-width: 768px) {
        font-weight: 600;
        font-size: 26px;
        line-height: 1.62;
        margin-bottom: 40px;
    }

    @media screen and (min-width: 1280px) {
        font-size: 52px;
        line-height: 1.54;
    }

}
.hero__desc{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 2;
    letter-spacing: 0.02em;
    color: $black-color;
    margin-bottom: 20px;
    @media screen and (min-width: 768px) {
        margin-bottom: 40px;
    }
    @media screen and (min-width: 1280px) {
    font-size: 18px;
    line-height: 1.56;
    }

}

.search__list{
    @extend %list;

    @media screen and (max-width: 767px) {
    display: none;
    }
    @media screen and (min-width: 768px) {
    height: 75px;
 }
  @media screen and (min-width: 1280px) {
      height: 120px;
  }
}

.search__item{
    font-family: 'Poppins';
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: 1.5;
        color: #5F6775;
@media screen and (min-width: 1280px) {
        font-size: 24px;
    }
}
.search__input{
    width: 93px;
    height: 34px;
    border: 1px solid $accent-color;
    border-radius: 4px;
    color:$accent-color;
    padding: 6px 10px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.35;
    &:hover,
    &:focus{
        background-color: $accent-color;
        color: $white-color;
        outline: none;
        &~.list__icon {
                fill: $white-color;
            }
    &::-webkit-calendar-picker-indicator {
        opacity: 0;
    }
    }

}

.list__icon{
position: absolute;
    top: 15%;
    left: 55%;
    width: 24px;
    height: 24px;
    fill: $accent-color;

}



.hero__picture{
width: 100%;
    margin-bottom: 60px;
    @media screen and (min-width: 768px) {
        position: absolute;
        width: 336px;
        height:294px;
        top:0;
        // bottom: 0;
        right:15px;
        margin-bottom: 0;
    }
         @media screen and (min-width: 1280px) {
             width: 501px;
             height: 439px;
            right: 0;
         }
}

.search__box{
    position: relative;
    display: flex;
    justify-content: center;
    @media screen and (min-width: 768px) {
            display: none;
        }
}

